.meme-template{
    position: relative;
    color: rgb(230, 230, 230);
    width: 140px;
    height: 140px;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
    top: 0px;
   
}


.meme-card{
    display: flex;
    overflow-y: hidden;
   
    width: 160px;
    height: 180px;
   
    border-radius: 6px;
    padding-top: 5px;
    box-shadow: 0 0 2px 1px rgba(119, 116, 116, 0.651);
    margin: 10px 0 10px 0;
    
}
.meme-card-holder{
    display: inline-block;
    padding: 5px;
}
.meme-name{
    color: rgb(230, 230, 230);
    font-size: x-small;
    padding-left: 5px;
    
   
    
}
.meme-name-holder{
    display: flex;
    line-height: 12px;
    height: 20px;
    align-items: center;
    
}

/* ====== for tablets ============= */

